<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DataTables Server Side", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                Fontes:
                <a href="http://www.codeproject.com/Articles/155422/jQuery-DataTables-and-ASP-NET-MVC-Integration-Part"><strong>CodeProject</strong></a>,
                <a href="https://blogs.claritycon.com/blog/2012/02/a-web-recipe-building-a-better-grid-using-the-jquery-datatables-plugin/"><strong>Clarity Consulting</strong></a>
            </p>
            <div class="alert alert-info">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-ok-sign"></span> Tutorial feito em Fevereiro de 2014
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-check"></span>
                    Cheque no <a href="https://github.com/diedona/Dona.DatatablesServerSide"><strong>GitHub</strong></a> outros tutoriais!
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-user"></span> Autor:
                    <a href="http://diegodonah.wordpress.com"><strong>Diego Doná</strong></a>.
                </div>
                <br />
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
